<div id="modal-ajuda" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajuda</h4>
            </div>
            <div class="modal-body sem-padding">
            
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda1">Como cadastrar imóveis?</a>
                            </h4>
                        </div>
                        <div id="ajuda1" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para cadastrar imóveis, use o botão "Cadastrar imóvel", localizado no menu de administrador.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda2">Como editar imóveis?</a>
                            </h4>
                        </div>
                        <div id="ajuda2" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para editar imóveis, use o botão "Listar", localizado no menu de administrador, e em seguida, após localizar o imóvel que deseja realizar a operação, clique em no botão com um ícone de um lapis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda3">Como cadatrar fotos no imóvel?</a>
                            </h4>
                        </div>
                        <div id="ajuda3" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para cadastrar fotos, use o botão "Listar", localizado no menu de administrador, e em seguida, após localizar o imóvel que deseja realizar a operação, clique em no botão com um ícone de uma câmera. Não há limite de fotos para serem cadastradas simultaneamente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda4">Como manipular as fotos dos imóveis</a>
                            </h4>
                        </div>
                        <div id="ajuda4" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para manipular as fotos dos imóveis, use o botão "Listar", localizado no menu de administrador, e em seguida, após localizar o imóvel que deseja realizar a operação, clique em no botão com um ícone de uma imagem. Assim, todas as imagens pertencentes àquela foto serão listadas. A partir daí, você poderá excluí-las ou marcar uma como a foto principal do imóvel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda5">O que é foto principal? Como escolher?</a>
                            </h4>
                        </div>
                        <div id="ajuda5" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Foto principal é a foto que mostrará o imóvel nas listagens gerais. Para escolhe-la, use o botão "Listar", localizado no menu de administrador, e em seguida, após localizar o imóvel que deseja realizar a operação, clique em no botão com um ícone de uma imagem e clique no botão de confirmar na foto desejada.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda6">Como excluir um imóvel?</a>
                            </h4>
                        </div>
                        <div id="ajuda6" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para excluir um imóvel, use o botão "Listar", localizado no menu de administrador, e em seguida, após localizar o imóvel que deseja realizar a operação, clique em no botão com um ícone de "X". Lembre-se: não há processo reverso para a exclusão de imóveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda7">Como cadastrar usuários?</a>
                            </h4>
                        </div>
                        <div id="ajuda7" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para excluir um imóvel, use o botão "Cadastrar Usuário", localizado no menu de administrador.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ajuda6">Como gerenciar usuários? (admin)</a>
                            </h4>
                        </div>
                        <div id="ajuda6" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Para gerenciar usuários, use o botão "Usuários", localizado no menu de administrador. A partir daí, é possível listar todos os usuários e excluí-los, se necessário.</p><p>OBS: Apenas o usuário 'admin' tem acesso a essa ferramenta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#desenvolvimento">Desenvolvedores</a>
                            </h4>
                        </div>
                        <div id="desenvolvimento" class="panel-collapse collapse">
                            <div class="panel-body">
                               <p>Este site foi desenvolvido por <a href="https://www.facebook.com/NandharaaAraujo" target="_blank">Nandhara Araújo</a> e <a href="http://www.renegustavo.com.br" target="_blank">René Gustavo</a>, estudantes do 3º ano do curso de Informática do Centro Federal de Educação Tecnológica de Minas Gerais (CEFET-MG).</p>
                               <p>E-mails para contato:
                               	<div>
                                    <ul>
                                        <li>nandharaadias@gmail.com</li>
                                        <li>renegustavocegoncalves@gmail.com</li>
                                    </ul>
                               	</div>
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->