<nav id="menu-admin" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<span class="navbar-brand">Administração</span>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="" class="menu-admin" menu="listar"><span class="glyphicon glyphicon-th-list"></span> Listar</a></li>
            <li><a href="" class="menu-admin" menu="cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar Imóvel</a></li>
           <li><a href="" class="menu-admin" menu="cadastrar-usuario"><span class="glyphicon glyphicon-user"></span> Cadastrar Usuário</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="menu-admin" menu="ajuda"><span class="glyphicon glyphicon-flag"></span> Ajuda</a></li>
            <li class="dropdown">
            <a href="" class="menu-admin" menu="nada" class="dropdown-toggle" data-toggle="dropdown" id="login-do-usuario">LoginDoUsuario <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="" class="menu-admin" menu="editar-senha">Editar senha</a></li>
                <li class="divider"></li>
                <li><a href="" class="menu-admin" menu="sair">Sair</a></li>
            </ul>
        </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>