<div id="modal-cadastrar" class="modal fade bs-modal-sm">
	<form method="post" id="form-login">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login administrativo</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form-login">
                        <div class="input-group">
                            <label for="login" class="input-group-addon">Login</label>
                            <input type="text" name="login" id="login" class="form-control" placeholder="Login">
                        </div>
                        <div class="input-group">
                            <label for="senha" class="input-group-addon">Senha</label>
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->