<div id="modal-confirma" class="modal fade bs-modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Removendo imóvel</h4>
            </div>
            <div class="modal-body sem-padding">
            	Tem certeza que deseja remover?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-escolha" escolha="nao">Não</button>
                <button type="button" class="btn btn-success btn-escolha" escolha="sim">Sim</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->