<div id="imovel">
	<table width="100%" class="table table-striped">
    	<tr>
        	<td id="area-imovel-imagens" width="400px" headers="300px" rowspan="10">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    
                    </ol>
                    <div class="carousel-inner">
                    
                    </div>
                    
                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                   		<span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" data-slide="next">
                    	<span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </td>
            <th>Tipo:</th>
            <td id="tipo"></td>
        </tr>
        <tr>
        	<th>Modo:</th>
            <td id="modo"></td>
        </tr>
        <tr>
        	<th>Estado:</th>
            <td id="estado"></td>
        </tr>
        <tr>
        	<th>Cidade:</th>
            <td id="cidade"></td>
        </tr>
        <tr>
        	<th>Bairro:</th>
            <td id="bairro"></td>
        </tr>
        <tr>
        	<th>Endereço:</th>
            <td id="endereco"></td>
        </tr>
        <tr>
        	<th>Quartos:</th>
            <td id="quartos"></td>
        </tr>
        <tr>
        	<th>Suítes:</th>
            <td id="suites"></td>
        </tr>
        <tr>
        	<th>Banheiro:</th>
            <td id="banheiros"></td>
        </tr>
        <tr>
        	<th>Salas:</th>
            <td id="salas"></td>
        </tr>
        <tr>
        	<th class="text-left">Detalhes:</th>
        	<th>Andares:</th>
            <td id="andares"></td>
        </tr>
        <tr>
        	<td rowspan="4" id="detalhes"></td>
        	<th>Garagem (carros):</th>
            <td id="garagem"></td>
        </tr>
        <tr>
        	<th>Metragem:</th>
            <td id="metragem"></td>
        </tr>
        <tr>
        	<th>Outros:</th>
            <td id="outros"></td>
        </tr>
        <tr>
        	<th>Preço:</th>
            <td id="preco"></td>
        </tr>
    </table>
</div>